* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}
html, body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/photo-1636760243166-c2c0c62ba633.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  filter: brightness(0.8);
}
#main #nightMode {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255, 85, 0, 0.511);
  filter: brightness(0.5) grayscale(0.3) contrast(1.5);
  pointer-events: none;
  display: none;
}
#main #screen {
  width: 100%;
  height: 100%;
  position: relative;
}
#main #screen .software {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  gap: 0.4rem;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
#main #screen .software::selection {
  background-color: transparent;
}
#main #screen .software:hover {
  background-color: rgba(255, 255, 255, 0.2784313725);
}
#main #screen .software:active {
  background-color: rgba(255, 255, 255, 0.4941176471);
  border-radius: 5px;
}
#main #screen .software img {
  width: 2.6em;
  aspect-ratio: 1/1;
  pointer-events: none;
}
#main #screen .software .iconText {
  font-family: "Roboto";
  font-size: 0.7em;
  text-shadow: 0px 1px 4px #000;
  border: none;
  outline: none;
  background: transparent;
  width: 5.5em;
  text-align: center;
}
#main #screen #Notetab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #Notetab .Notebody {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#main #screen #Notetab .Notebody p {
  outline: none;
  color: #000;
  font-family: "Roboto";
}
#main #screen #Notetab .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
#main #screen #Notetab .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #Notetab .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #Notetab .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #Notetab .top .menu .close:hover {
  background-color: red;
}
#main #screen #Filestab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #Filestab .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  cursor: move;
}
#main #screen #Filestab .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #Filestab .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #Filestab .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #Filestab .top .menu .close:hover {
  background-color: red;
}
#main #screen #Filestab .FileBody {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100% - 5vh);
}
#main #screen #Filestab .FileBody::-webkit-scrollbar {
  display: none;
}
#main #screen #Filestab .FileBody .fileNav {
  width: 20%;
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
}
#main #screen #Filestab .FileBody .fileNav h1 {
  color: #000;
  padding: 4% 0%;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: "background 0.3s ease";
}
#main #screen #Filestab .FileBody .fileNav h1:hover {
  background: #66d4f9;
}
#main #screen #Filestab .FileBody .fileTabScreen {
  width: 80%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen {
  padding: 1%;
  display: block;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop {
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  padding: 1%;
  cursor: pointer;
  transition: background 0.3s ease;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon:hover {
  background: #00BFFF;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon img {
  width: 2em;
  aspect-ratio: 1/1;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 4.5em;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen {
  padding: 1%;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  height: fit-content;
  padding: 2% 1%;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  padding: 1%;
  cursor: pointer;
  transition: background 0.3s ease;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon:hover {
  background: #00BFFF;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon img {
  width: 2em;
  aspect-ratio: 1/1;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 4.5em;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 2em;
  height: fit-content;
  padding: 2%;
  align-content: center;
  justify-content: center;
  width: 100%;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr {
  text-decoration: none;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr .icon:hover {
  transform: translateY(-5px);
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 5px;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 100%;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 2em;
  height: fit-content;
  padding: 2%;
  align-content: center;
  justify-content: center;
  width: 100%;
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection abbr {
  text-decoration: none;
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection abbr .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection abbr .icon:hover {
  transform: translateY(-5px);
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection abbr video {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 5px;
}
#main #screen #Filestab .FileBody .fileTabScreen .videoFileSection abbr small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 100%;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #previewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 9;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #previewer .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  cursor: move;
}
#main #screen #previewer .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #previewer .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #previewer .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #previewer .top .menu .close:hover {
  background-color: red;
}
#main #screen #previewer .previewerScreen {
  width: 100%;
  height: calc(100% - 5vh);
  background: #303030;
}
#main #screen #chrome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #chrome .Chromebody {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#main #screen #chrome .Chromebody p {
  outline: none;
  color: #000;
  font-family: "Roboto";
}
#main #screen #chrome .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  cursor: move;
}
#main #screen #chrome .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #chrome .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #chrome .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #chrome .top .menu .close:hover {
  background-color: red;
}
#main #screen #chrome .searchbar {
  width: 100%;
  height: 6vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#main #screen #chrome .searchbar abbr {
  text-decoration: none;
  border-radius: 5px;
  background: #3c3c3c;
  padding: 0.5% 1%;
  height: 70%;
  aspect-ratio: 1/1;
}
#main #screen #chrome .searchbar abbr button {
  padding: 0.5% 1%;
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}
#main #screen #chrome .searchbar .searchtitlebox {
  background: #3c3c3c;
  padding: 0% 0% 0% 1%;
  width: 90%;
  display: flex;
  height: 70%;
  border-radius: 5px;
  overflow: hidden;
}
#main #screen #chrome .searchbar .searchtitlebox input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
#main #screen #chrome .searchbar .searchtitlebox button {
  background: #646464;
  border-radius: 0%;
  border: none;
  outline: none;
  width: 7vw;
}
#main #screen #chrome .chromebody {
  width: 100%;
  height: calc(100% - 11vh);
  position: relative;
}
#main #screen #chrome .chromebody #defaulttext {
  position: absolute;
  font-size: 3rem;
  color: #646464;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
}
#main #screen #chrome .chromebody iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
#main #screen #chrome .chromebody #iframeError {
  font-weight: bold;
  padding: 2% 0%;
  background: rgb(255, 226, 226);
  font-size: 2rem;
  color: red;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #terminalTab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #terminalTab .top {
  background: #3a3a3a;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  cursor: move;
}
#main #screen #terminalTab .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #terminalTab .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #terminalTab .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #terminalTab .top .menu .close:hover {
  background-color: red;
}
#main #screen #terminalTab .terminalbody {
  width: 100%;
  height: calc(100% - 5vh);
  background: #000;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  font-family: "Roboto";
  font-size: 1.1rem;
}
#main #screen #terminalTab .terminalbody .cmd-input {
  background: transparent;
  border: none;
  color: #88ff88;
  outline: none;
  width: 75%;
  font-family: "Roboto";
  font-size: 1.1rem;
}
#main #screen #rightClickMenu {
  padding: 0.5rem;
  background: #3c3c3c;
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  justify-content: center;
  row-gap: 0.2rem;
  display: none;
  text-decoration: none;
}
#main #screen #rightClickMenu h1 {
  font-family: "Roboto";
  font-weight: 400;
  width: 13rem;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  transition: background 0.3s ease;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}
#main #screen #rightClickMenu h1:hover {
  background: #1a1a1a;
}
#main #screen #rightClickMenu h1 abbr {
  text-decoration: none;
}
#main #screen #rightClickMenu .partition {
  background: #818181;
  height: 1.5px;
  width: 100%;
}
#main #screen #rightClickMenu .new-section {
  position: absolute;
  left: 105%;
  width: fit-content;
  top: 45%;
  background: #3c3c3c;
  padding: 0.7rem 0.4rem;
  border-radius: 10px;
  flex-direction: column;
  row-gap: 0.1rem;
  display: none;
}
#main #screen #rightClickMenu .new-section p {
  white-space: nowrap;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  transition: background 0.3s ease;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
}
#main #screen #rightClickMenu .new-section p:hover {
  background: #1a1a1a;
}
#main #screen #camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #1c1c1c;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
  resize: both;
}
#main #screen #camera .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
#main #screen #camera .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #camera .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #camera .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #camera .top .menu .close:hover {
  background-color: red;
}
#main #screen #camera .camerabody {
  width: 100%;
  height: calc(100% - 5vh);
  position: relative;
}
#main #screen #camera .camerabody #cameraFeed {
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
}
#main #screen #camera .camerabody abbr {
  text-decoration: none;
}
#main #screen #camera .camerabody abbr .camerabutton {
  position: absolute;
  top: 40%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background: #494949;
  border-radius: 30px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: background 0.2s ease, transform 0.5s ease;
  font-size: 2.5rem;
}
#main #screen #camera .camerabody abbr .camerabutton:active {
  background: #1c1c1c;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(200deg);
}
#main #screen #camera .camerabody abbr {
  text-decoration: none;
}
#main #screen #camera .camerabody abbr .videobutton {
  position: absolute;
  top: 70%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background: #494949;
  border-radius: 30px;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: background 0.2s ease, transform 0.5s ease;
  font-size: 2.5rem;
}
#main #screen #camera .camerabody abbr .videobutton:active {
  background: #1c1c1c;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(200deg);
}
#main #screen #camera .camerabody #recordTimer {
  position: absolute;
  left: 50%;
  top: 90%;
  font-family: "Roboto";
}
#main #screen #camera .camerabody .filters {
  position: absolute;
  height: 30vh;
  width: 7vw;
  padding: 0.5% 1%;
  left: 8%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #292929;
  border-radius: 10px;
  overflow: auto;
}
#main #screen #camera .camerabody .filters::-webkit-scrollbar {
  display: none;
}
#main #screen #camera .camerabody .filters h1 {
  font-family: "Roboto";
  text-align: center;
  text-transform: uppercase;
}
#main #screen #camera .camerabody .filters #cameraFeed {
  height: 10vh;
  aspect-ratio: 1/1;
}
#main #screen #camera .camerabody .filters .fliter1 {
  filter: blur(1.5px) brightness(1.1) contrast(0.9);
}
#main #screen #camera .camerabody .filters .fliter2 {
  filter: sepia(0.3) brightness(1.2) contrast(1.1);
}
#main #screen #camera .camerabody .filters .fliter3 {
  filter: sepia(0.8) contrast(1.3);
}
#main #screen #camera .camerabody .filters .fliter4 {
  filter: sepia(0.3) hue-rotate(-15deg) contrast(1.4) saturate(1.8);
}
#main #screen #camera .camerabody .filters .fliter5 {
  filter: brightness(1.2) hue-rotate(330deg) saturate(2);
}
#main #screen #personalize {
  width: 50vw;
  height: 50vh;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  resize: both;
  display: none;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4862745098);
}
#main #screen #personalize .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}
#main #screen #personalize .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #personalize .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #personalize .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #personalize .top .menu .close:hover {
  background-color: red;
}
#main #screen #personalize .personalizebody {
  width: 100%;
  height: calc(100% - 5vh);
  background: #e3f7fd;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
#main #screen #personalize .personalizebody h1 {
  font-family: "Roboto";
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  width: fit-content;
  border-radius: 10px;
  padding: 0% 1% 0.2% 1%;
  margin-bottom: 0.5rem;
  background: #e3f7fd;
}
#main #screen #personalize .personalizebody .wallpapers {
  width: 100%;
  padding: 2% 1% 2% 1%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5vw;
  column-gap: 1.5vw;
  overflow-y: scroll;
}
#main #screen #personalize .personalizebody .wallpapers::-webkit-scrollbar {
  width: 2px;
}
#main #screen #personalize .personalizebody .wallpapers::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}
#main #screen #personalize .personalizebody .wallpapers img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6039215686);
}
#main #screen #personalize .personalizebody .wallpapers img:hover {
  transform: translateY(-5px);
}
#main #allsettingBox {
  background-color: #1a1a1a;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: -60%;
  right: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  transition: all 0.2s ease;
  scale: 0.2;
  padding: 3% 2%;
}
#main #allsettingBox .sound, #main #allsettingBox .brightness {
  width: 100%;
  display: flex;
  gap: 0.2em;
  margin-bottom: 0.2em;
}
#main #allsettingBox .sound input[type=range], #main #allsettingBox .brightness input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  outline: none;
}
#main #allsettingBox .sound input[type=range]::-webkit-slider-thumb, #main #allsettingBox .brightness input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: rgb(1, 146, 156);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#main #allsettingBox .sound input[type=range]::-webkit-slider-runnable-track, #main #allsettingBox .brightness input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #646464;
  background: linear-gradient(to right, #131a1f, #00BFFF);
  border-radius: 5px;
}
#main #allsettingBox .upperrow {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.2rem;
  column-gap: 0.7rem;
  width: 100%;
  margin-bottom: 1rem;
}
#main #allsettingBox .upperrow abbr {
  text-decoration: none;
}
#main #allsettingBox .upperrow abbr .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.4em;
  width: 10vw;
  padding: 0.1em 0.5em;
  height: fit-content;
}
#main #allsettingBox .upperrow abbr .icon-box i {
  width: 100%;
  height: 3.5rem;
  background: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
#main #allsettingBox .upperrow abbr .icon-box i:hover {
  background: #00BFFF;
  color: #000;
}
#main #allsettingBox .upperrow abbr .icon-box small {
  font-family: "Roboto";
  font-size: 0.7em;
}
#main #taskbar {
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.163);
  bottom: -10%;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 7vh;
  z-index: 9999;
}
#main #taskbar .allitems {
  display: flex;
  gap: 2em;
}
#main #taskbar .active {
  background-color: #777777;
  padding: 2%;
  border-radius: 5px;
}
#main #taskbar img {
  width: 1.8rem;
  height: 1.8rem;
  transition: all 0.2s ease;
  object-fit: cover;
}
#main #taskbar img:hover {
  background-color: rgba(150, 150, 150, 0.46);
  padding: 0.2rem;
  border-radius: 5px;
}
#main #taskbar .timer {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(14, 14, 14, 0.284);
  display: flex;
  flex-direction: row;
  padding: 0em 1em;
  height: 100%;
  align-items: center;
  gap: 1em;
  z-index: 99999;
}
#main #taskbar .timer .settings {
  display: flex;
  gap: 0.5em;
}
#main #taskbar .timer .settings abbr {
  text-decoration: none;
}
#main #taskbar .timer abbr {
  text-decoration: none;
}
#main #taskbar .timer abbr .timebar {
  font-family: "Roboto";
}