* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}
html, body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/photo-1636760243166-c2c0c62ba633.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  filter: brightness(0.8);
}
#main #screen {
  width: 100%;
  height: 100%;
  padding: 1.5vw;
  position: relative;
}
#main #screen .software {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5vw;
  gap: 0.2rem;
  position: absolute;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
#main #screen .software::selection {
  background-color: transparent;
}
#main #screen .software:hover {
  background-color: rgba(255, 255, 255, 0.2784313725);
}
#main #screen .software:active {
  background-color: rgba(255, 255, 255, 0.4941176471);
  border-radius: 5px;
}
#main #screen .software img {
  width: 2.6em;
  aspect-ratio: 1/1;
  pointer-events: none;
}
#main #screen .software h6 {
  font-family: "Roboto";
  font-size: 0.7em;
  text-shadow: 0px 1px 4px #000;
  pointer-events: none;
}
#main #screen #Notetab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.662745098);
}
#main #screen #Notetab .Notebody {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#main #screen #Notetab .Notebody p {
  outline: none;
  color: #000;
  font-family: "Roboto";
}
#main #screen #Notetab .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main #screen #Notetab .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #Notetab .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #Notetab .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #Notetab .top .menu .close:hover {
  background-color: red;
}
#main #screen #Filestab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.662745098);
}
#main #screen #Filestab .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
#main #screen #Filestab .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #Filestab .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #Filestab .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #Filestab .top .menu .close:hover {
  background-color: red;
}
#main #screen #Filestab .FileBody {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100% - 5vh);
}
#main #screen #Filestab .FileBody::-webkit-scrollbar {
  display: none;
}
#main #screen #Filestab .FileBody .fileNav {
  width: 20%;
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
}
#main #screen #Filestab .FileBody .fileNav h1 {
  color: #000;
  padding: 4% 0%;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: "background 0.3s ease";
}
#main #screen #Filestab .FileBody .fileNav h1:hover {
  background: #66d4f9;
}
#main #screen #Filestab .FileBody .fileTabScreen {
  width: 80%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen {
  padding: 1%;
  display: block;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop {
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  padding: 1%;
  cursor: pointer;
  transition: background 0.3s ease;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon:hover {
  background: #00BFFF;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon img {
  width: 2em;
  aspect-ratio: 1/1;
}
#main #screen #Filestab .FileBody .fileTabScreen .desktopScreen .desktopScreentop .icon small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 4.5em;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen {
  padding: 1%;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  height: fit-content;
  padding: 2% 1%;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  padding: 1%;
  cursor: pointer;
  transition: background 0.3s ease;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon:hover {
  background: #00BFFF;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon img {
  width: 2em;
  aspect-ratio: 1/1;
}
#main #screen #Filestab .FileBody .fileTabScreen .homeScreen .icon small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 4.5em;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 2em;
  height: fit-content;
  padding: 2%;
  align-content: center;
  justify-content: center;
  width: 100%;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr {
  text-decoration: none;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr .icon {
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.3em;
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr .icon:hover {
  transform: translateY(-5px);
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 5px;
}
#main #screen #Filestab .FileBody .fileTabScreen .imageScreen abbr small {
  color: #000;
  white-space: wrap;
  font-size: 0.7em;
  width: 100%;
  font-family: "Roboto";
  text-align: center;
}
#main #screen #previewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.662745098);
}
#main #screen #previewer .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
#main #screen #previewer .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #previewer .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #previewer .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #previewer .top .menu .close:hover {
  background-color: red;
}
#main #screen #previewer .previewerScreen {
  width: 100%;
  height: calc(100% - 5vh);
  background: #303030;
}
#main #screen #chrome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.662745098);
}
#main #screen #chrome .Chromebody {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1%;
}
#main #screen #chrome .Chromebody p {
  outline: none;
  color: #000;
  font-family: "Roboto";
}
#main #screen #chrome .top {
  background: #000;
  width: 100%;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
#main #screen #chrome .top h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7em;
  pointer-events: none;
}
#main #screen #chrome .top .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#main #screen #chrome .top .menu div {
  scale: 1.2;
  cursor: pointer;
  padding: 0em 0.5em;
  transition: all 0.3s ease;
}
#main #screen #chrome .top .menu .close:hover {
  background-color: red;
}
#main #screen #chrome .searchbar {
  width: 100%;
  height: 6vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#main #screen #chrome .searchbar abbr {
  text-decoration: none;
  border-radius: 5px;
  background: #3c3c3c;
  padding: 0.5% 1%;
  height: 70%;
  aspect-ratio: 1/1;
}
#main #screen #chrome .searchbar abbr button {
  padding: 0.5% 1%;
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}
#main #screen #chrome .searchbar .searchtitlebox {
  background: #3c3c3c;
  padding: 0% 0% 0% 1%;
  width: 90%;
  display: flex;
  height: 70%;
  border-radius: 5px;
  overflow: hidden;
}
#main #screen #chrome .searchbar .searchtitlebox input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
#main #screen #chrome .searchbar .searchtitlebox button {
  background: #646464;
  border-radius: 0%;
  border: none;
  outline: none;
  width: 7vw;
}
#main #screen #chrome .chromebody {
  width: 100%;
  height: calc(100% - 11vh);
  position: relative;
}
#main #screen #chrome .chromebody #defaulttext {
  position: absolute;
  font-size: 3rem;
  color: #646464;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: "Roboto";
}
#main #screen #chrome .chromebody iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
#main #screen #chrome .chromebody #iframeError {
  font-weight: bold;
  padding: 2% 0%;
  background: rgb(255, 226, 226);
  font-size: 2rem;
  color: red;
  font-family: "Roboto";
  text-align: center;
}
#main #allsettingBox {
  background-color: #1a1a1a;
  width: 35vw;
  height: fit-content;
  position: absolute;
  bottom: -60%;
  right: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  transition: all 0.2s ease;
  scale: 0.2;
  padding: 3% 2%;
}
#main #allsettingBox .sound, #main #allsettingBox .brightness {
  width: 100%;
  display: flex;
  gap: 0.2em;
  margin-bottom: 0.2em;
}
#main #allsettingBox .sound input[type=range], #main #allsettingBox .brightness input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  outline: none;
}
#main #allsettingBox .sound input[type=range]::-webkit-slider-thumb, #main #allsettingBox .brightness input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: rgb(1, 146, 156);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#main #allsettingBox .sound input[type=range]::-webkit-slider-runnable-track, #main #allsettingBox .brightness input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #646464;
  background: linear-gradient(to right, #131a1f, #00BFFF);
  border-radius: 5px;
}
#main #allsettingBox .upperrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main #allsettingBox .upperrow .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.4em;
  width: 10vw;
  padding: 0.1em 0.5em;
  height: 6vw;
}
#main #allsettingBox .upperrow .icon-box i {
  width: 100%;
  height: 100%;
  background: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
#main #allsettingBox .upperrow .icon-box i:hover {
  background: #00BFFF;
  color: #000;
}
#main #allsettingBox .upperrow .icon-box small {
  font-family: "Roboto";
  font-size: 0.7em;
}
#main #allsettingBox .lowerrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
#main #allsettingBox .lowerrow .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.4em;
  width: 10vw;
  padding: 0.1em 0.5em;
  height: 6vw;
}
#main #allsettingBox .lowerrow .icon-box i {
  width: 100%;
  height: 100%;
  background: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
#main #allsettingBox .lowerrow .icon-box i:hover {
  background: #00BFFF;
  color: #000;
}
#main #allsettingBox .lowerrow .icon-box small {
  font-family: "Roboto";
  font-size: 0.7em;
}
#main #taskbar {
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.163);
  bottom: -10%;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 7vh;
  z-index: 99999;
}
#main #taskbar .allitems {
  display: flex;
  gap: 2em;
}
#main #taskbar .active {
  background-color: #777777;
  padding: 2%;
  border-radius: 5px;
}
#main #taskbar img {
  width: 1.8rem;
  height: 1.8rem;
  transition: all 0.2s ease;
  object-fit: cover;
}
#main #taskbar img:hover {
  background-color: rgba(150, 150, 150, 0.46);
  padding: 0.2rem;
  border-radius: 5px;
}
#main #taskbar .timer {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(14, 14, 14, 0.284);
  display: flex;
  flex-direction: row;
  padding: 0em 1em;
  height: 100%;
  align-items: center;
  gap: 1em;
  z-index: 99999;
}
#main #taskbar .timer .settings {
  display: flex;
  gap: 0.5em;
}
#main #taskbar .timer .settings abbr {
  text-decoration: none;
}
#main #taskbar .timer abbr {
  text-decoration: none;
}
#main #taskbar .timer abbr .timebar {
  font-family: "Roboto";
}